<h3><%= @user_name %> has made <%= @today %> contribution(s) today.</h3>
<h3>In the past 366 days, <%= @user_name %> has had <%= @no_contributions %> day(s) without any contributions.
<h3><%= @user_name %> is rocking a <%= @current_streak %> day current streak </h3>

<h3>There have been <%= @days %> day(s) this year, and of them <%= @user_name %> has contributed to open source <%= @this_year %> day(s)</h3>

<h3>This year's average days with contributions is <%= (@percentage * 100).ceil %>% </h3>

<% if @history.new_user? %>

<% else %>
  <h3><%= @user_name %>'s average days with contributions for the last 365 days has been <%=(@long_percentage * 100).ceil %>%</h3>
<% end %>

<h3><%= @user_name %> has been a member since <%= @signed_up %></h3>

